<% include ./partials/header %>
<div>
  <h2><%= title %></h2>
    <ul>
      <% articles.forEach((article) => { %>
        <li><%= article.title %></li>
      <% }) %>
    </ul>
</div>
<% include ./partials/footer %>