<% include ./partials/header %>
<div class="container">
  <h2><%= title %></h2>
    <ul class="list-group">
      <% articles.forEach((article) => { %>
        <li class="list-group-item"><%= article.title %></li>
      <% }) %>
    </ul>
</div>
<% include ./partials/footer %>