<% include ./partials/header %>

  <div class="container">
    <div>
      <h2><%= article.title %></h2>
      <h5><%= article.author %></h5>
        <div>
          <p><%= article.body %></p>
        </div>
        <a class="btn" href="/edit/<%= article.id %>">Edit</a>
    </div>    
  </div>

<% include ./partials/footer %>